@import "../design/main.scss";

.upperLeft {
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-color: $brightColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
