@import "../design/main.scss";

.triggersWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.examplesWrapper {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.baseForm {
  width: 150px;
  height: 150px;
  background-color: $darkColor;
  transition: all;
  transition-timing-function: ease;
  margin: 50px;
  cursor: pointer;
}

.baseForm2 {
  width: 150px;
  height: 150px;
  transition: all;
  transition-timing-function: ease;
  margin: 50px;
  cursor: pointer;
}

.image {
  position: absolute;
  width: 150px;
  height: 150px;
  mask-position: center;
  mask-size: contain;
  z-index: 1;
  background-color: $darkColor;
}
.cover {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: $darkColor;
  z-index: 2;
}

.opacity {
  &:active {
    opacity: 0;
  }
}

.color {
  &:active {
    background-color: $markerColor;
  }
}

.width {
  &:active {
    height: 20px;
  }
}

.outline {
  outline: $markerColor 0px solid;
  &:active {
    outline: $markerColor 30px solid;
  }
}

.rotate {
  &:active {
    transform: rotate(45deg);
  }
}

.circle {
  &:active {
    border-radius: 100px;
  }
}

.move {
  &:active {
    transform: translateX(20%);
  }
}

.toggleText {
  position: absolute;
  top: -28px;
  left: 5px;
  font-family: "PoppinsLightItalic";
  font-size: 14pt;
  color: $darkColor;
  text-align: center;
}

.toggleWrapper {
  position: absolute;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: $darkColor;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.toggleCircle {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  background-color: $brightColor;
  transition: right 0.2s ease;
  outline: 1px solid $darkColor;
}
