@import "../design/main.scss";

.topLeft {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: $darkColor;
  outline: 2px $darkColor solid;
  touch-action: none;
}
